---
import { ClientRouter } from "astro:transitions";
import "../styles/custom.css";

const { title, description, ogTitle, ogDescription, ogImage, twitterImage } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {ogTitle && <meta property="og:title" content={ogTitle} />}
    {
      ogDescription && (
        <meta property="og:description" content={ogDescription} />
      )
    }
    {ogImage && <meta property="og:image" content={ogImage} />}
    {twitterImage && <meta name="twitter:image" content={twitterImage} />}
    <ClientRouter />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="wrapper">
    <slot />
  </body>
</html>
